Repository ureca9/FE_MungGu, pull requests merged in 2024-11, with the labels that each got.

#9 [KAN-75] 로딩 컴포넌트 구현
  package.json
  src/components/common/LoadingSpinner.jsx
  yarn.lock
Labels: ✨ Feature, 🎨 Html&css, 🥰 Accessibility

#6 [KAN-67] access token 재발급
  .gitignore
  package.json
  src/api/auth/auth.js
  src/api/axios.js
  yarn.lock
Labels: 📬 API

#11 [KAN-68] zustand 세팅
  package.json
  src/api/pet.js
  src/components/common/LoadingSpinner.jsx
  src/stores/common/useLoadingStore.js
  yarn.lock
Labels: 🗂 Architecture

#3 [KAN-11] 로그인 페이지
  .github/workflows/deploy.yml
  .gitignore
  index.html
  public/favicon/favicon.svg
  src/api/pet.js
  src/assets/common/footer/FooterLogo.svg
  src/assets/common/footer/meongsengneacutHover.svg
  src/assets/common/footer/meongsengneacutOff.svg
  src/assets/common/footer/meongsengneacutOn.svg
  src/assets/login/Login.txt
  src/assets/login/LoginImgSprite.png
  src/components/common/FooterNav.jsx
  src/components/common/Header.jsx
  src/components/common/LoadingSpinner.jsx
  src/components/common/SubHeader.jsx
  src/index.css
  src/layout/DefaultLayout.jsx
  src/main.jsx
  src/pages/Login.jsx
  src/pages/Meongsengneacut.jsx
  src/pages/Test.jsx
  src/pages/UserPage/UserRegister.jsx
  src/router/router.jsx
  src/stores/login.js
  src/stories/Buttons/BasicBtn/BasicBtn.jsx
  src/stories/Buttons/CRUDBtn/CRUDBtn.jsx
  src/stories/Buttons/LoginBtn/LoginBtn.jsx
  src/stories/Buttons/LoginBtn/LoginBtn.stories.js
  src/utils/LocalStorageKey.js
  src/utils/RouterPath.js
  src/utils/ScrollTop.js
  vite.config.js
Labels: ✨ Feature, 📬 API, 🎨 Html&css, 🚧 WIP
