Repository ureca9/FE_MungGu, pull requests merged in 2024-12, with the labels that each got.

#2 [KAN-60] 지도 페이지
  eslint.config.js
  index.html
  package.json
  src/components/common/FooterNav.jsx
  src/components/common/Header.jsx
  src/components/map/LikeListCategory.jsx
  src/components/map/MapContainer.jsx
  src/components/map/MapPanel.jsx
  src/components/map/MapSearch.jsx
  src/components/map/SearchHistory.jsx
  src/layout/DefaultLayout.jsx
  src/pages/Map.jsx
  src/pages/Map/Directions.jsx
  src/pages/Map/Map.jsx
  src/pages/Map/MapSearch.jsx
  src/pages/Search.jsx
  src/router/router.jsx
  src/stores/map/useSearchHistoryStore.js
  vite.config.js
  yarn.lock
Labels: ✨ Feature, 🎨 Html&css

#16 [KAN-81] 코드 리뷰 AI 추가
  .coderabbit.yaml
Labels: 📃 Docs

#8 [KAN-38] feat:마이페이지
  package-lock.json
  src/api/pet.js
  src/assets/MypageImg/MyPageImg.png
  src/assets/MypageImg/user.svg
  src/index.css
  src/main.jsx
  src/mocks/handlers/petHandlers.js
  src/pages/PetPage/PetAdd.jsx
  src/pages/PetPage/PetEdit.jsx
  src/pages/PetPage/PetForm.jsx
  src/pages/PetPage/PetRegister.jsx
  src/pages/PetPage/PetUpdatePage.jsx
  src/pages/UserPage/AppList.jsx
  src/pages/UserPage/MyPage.jsx
  src/pages/UserPage/MyPet.jsx
  src/pages/UserPage/ServiceList.jsx
  src/pages/UserPage/UserD.jsx
  src/pages/UserPage/UserEdit.jsx
  src/pages/UserPage/UserUpdatePage.jsx
  src/router/router.jsx
  tailwind.config.js
  yarn.lock
Labels: ✨ Feature, 📬 API, 🎨 Html&css, 🚧 WIP

#17 [KAN-34] 지도에서 장소를 검색
  src/components/map/MapPanel.jsx
  src/components/map/PlaceCard.jsx
  src/components/map/PlaceList.jsx
  src/pages/Map/MapSearch.jsx
  src/router/router.jsx
  src/stores/map/useMapSearchStore.js
  src/utils/DummyPlaces.js
  src/utils/RouterPath.js
Labels: ✨ Feature, 🎨 Html&css, 🚧 WIP

#13 [KAN-41] 반려동물 CRUD
  .storybook/main.js
  package.json
  src/api/axios.js
  src/api/pet.js
  src/components/mypage/AppList.jsx
  src/components/mypage/MyPet.jsx
  src/components/mypage/ServiceList.jsx
  src/components/mypage/UserData.jsx
  src/components/pet/BreedsPanel.jsx
  src/components/pet/MotionDiv.jsx
  src/components/pet/PetForm.jsx
  src/main.jsx
  src/mocks/handlers/petHandlers.js
  src/pages/PetPage/PetAdd.jsx
  src/pages/PetPage/PetEdit.jsx
  src/pages/PetPage/PetForm.jsx
  src/pages/PetPage/PetRegister.jsx
  src/pages/Review/Reviews
  src/pages/UserPage/MyPage.jsx
  src/pages/UserPage/UserRegister.jsx
  src/router/router.jsx
  src/stores/pet/usePetStore.js
  src/stories/Input/BasicInput.jsx
  src/stories/Input/BasicInput.stories.js
  src/utils/RouterPath.js
  yarn.lock
Labels: ✨ Feature, 📬 API, 🎨 Html&css, 🥰MSW

#20 [KAN-92] 사용자는 지도에서 찜한 장소를 마커로 확인할 수 있다.
  src/components/map/MapContainer.jsx
Labels: ✨ Feature, 📬 API, 🎨 Html&css

#18 [KAN-13] 선호 시설/지역 페이지
  src/api/auth/auth.js
  src/api/axios.js
  src/api/userRegister/checkNickname.js
  src/api/userRegister/preference.js
  src/api/userRegister/userRegister.js
  src/assets/login/KakaoLogo.svg
  src/components/common/Header.jsx
  src/components/mypage/UserData.jsx
  src/pages/Login.jsx
  src/pages/UserPage/MyPage.jsx
  src/pages/UserPage/PreferencePlant.jsx
  src/pages/UserPage/PreferenceRegion.jsx
  src/pages/UserPage/UserRegister.jsx
  src/router/router.jsx
  src/stores/Auth/useLoginStore.js
  src/stories/Buttons/BasicBtn/BasicBtn.jsx
  src/stories/Input/BasicInput.jsx
  src/utils/LocalStorageKey.js
Labels: ✨ Feature, 📬 API, 🚧 WIP

#10 [Kan-25] feat : 메인페이지 추천펜션 / 검색 및 목록 페이지 / 시설 상세 페이지 만듬
  package-lock.json
  package.json
  public/mockServiceWorker.js
  src/api/axios.js
  src/components/MainPage/HotPlaces.jsx
  src/components/MainPage/LiveReviews.jsx
  src/components/MainPage/RecommendedPensions.jsx
  src/components/MainPage/SearchModal/FacilitySection.jsx
  src/components/MainPage/SearchModal/PensionSection.css
  src/components/MainPage/SearchModal/PensionSection.jsx
  src/components/MainPage/SearchModal/ProfileSection.jsx
  src/components/MainPage/SearchModal/SearchModal.jsx
  src/components/MainPage/SearchModal/Tabs.jsx
  src/main.jsx
  src/mocks/browser.js
  src/mocks/handlers/index.js
  src/mocks/handlers/mainHandlers.js
  src/mocks/handlers/pensionDetailHandler.js
  src/mocks/handlers/petHandlers.js
  src/mocks/handlers/placeDetailHandler.js
  src/pages/DetailPage/PensionDetailPage.jsx
  src/pages/DetailPage/PlaceDetailPage.jsx
  src/pages/ListPage/ListPage.jsx
  src/pages/ListPage/PensionListPage.jsx
  src/pages/Main.jsx
  src/router/router.jsx
  vite.config.js
  yarn.lock
Labels: ✨ Feature, 🥰MSW

#21 [KAN-89] 전체 후기 조회
  public/mockServiceWorker.js
  src/api/review.js
  src/components/common/SubHeader.jsx
  src/components/review/AllReviewHeader.jsx
  src/components/review/ReviewCard.jsx
  src/components/review/ReviewDetailModal.jsx
  src/pages/PetPage/PetEdit.jsx
  src/pages/Review/AllReviews.jsx
  src/pages/Review/ReviewAdd.jsx
  src/pages/Review/Reviews
  src/router/router.jsx
  src/stores/review/useAllReviewsStore.js
  src/stories/Buttons/CRUDBtn/CRUDBtn.jsx
  src/utils/RouterPath.js
  yarn.lock
Labels: ✨ Feature, 📬 API, 🚧 WIP

#25 [Kan 30] 메인 / 검색 / 목록 / 상세보기 구현
  package-lock.json
  package.json
  src/api/review.js
  src/components/DetailPage/ReservationRoomSection.jsx
  src/components/MainPage/HotPlaces.jsx
  src/components/MainPage/LiveReviews.jsx
  src/components/MainPage/RecommendedPensions.jsx
  src/components/MainPage/SearchModal/FacilitySection.jsx
  src/components/MainPage/SearchModal/PensionSection.css
  src/components/MainPage/SearchModal/PensionSection.jsx
  src/components/MainPage/SearchModal/ProfileSection.jsx
  src/pages/DetailPage/PensionDetailPage.jsx
  src/pages/DetailPage/PlaceDetailPage.jsx
  src/pages/ListPage/PensionListPage.jsx
  src/pages/Main.jsx
  src/pages/Review/AllReviews.jsx
  src/router/router.jsx
  src/utils/RouterPath.js
  yarn.lock
Labels: 🐞 BugFix, ✨ Feature, 📬 API, 🚧 WIP

#22 [KAN-34] 사용자는 지도 내부에서 검색을 할 수 있다.
  src/api/map/map.js
  src/components/map/MapContainer.jsx
  src/components/map/MapPanel.jsx
  src/components/map/PlaceCard.jsx
  src/components/map/PlaceList.jsx
  src/components/map/SearchHistory.jsx
  src/pages/Map/Map.jsx
  src/pages/Map/MapSearch.jsx
  src/stores/map/useCoordsStore.js
  src/stores/map/useMapSearchStore.js
  src/stores/map/usePanelStateStore.js
  src/utils/DummyPlaces.js
Labels: ✨ Feature, 📬 API, 🚧 WIP

#30 Kan 27
  src/components/DetailPage/RecommendedFacility.jsx
  src/components/DetailPage/ReservationRoomSection.jsx
  src/components/MainPage/LiveReviews.jsx
  src/components/MainPage/RecommendedPensions.jsx
  src/components/MainPage/SearchModal/FacilitySection.jsx
  src/components/MainPage/SearchModal/PensionSection.css
  src/components/MainPage/SearchModal/PensionSection.jsx
  src/pages/DetailPage/PensionDetailPage.jsx
  src/pages/DetailPage/PlaceDetailPage.jsx
  src/pages/ListPage/ListPage.jsx
  src/pages/ListPage/PensionListPage.jsx
  tailwind.config.js
Labels: ✨ Feature, 📬 API, 🚧 WIP

#36 [KAN-101] 2차 배포 후 오류 수정
  src/components/common/FooterNav.jsx
  src/index.css
  src/layout/DefaultLayout.jsx
  src/pages/Login.jsx
  src/pages/UserPage/PlantEdit.jsx
  src/pages/UserPage/PreferencePlant.jsx
  src/pages/UserPage/PreferenceRegion.jsx
  src/pages/UserPage/RegionEdit.jsx
  src/pages/UserPage/UserRegister.jsx
  src/stories/Buttons/LoginBtn/LoginBtn.jsx
  src/stories/Buttons/LoginBtn/LoginBtn.stories.js
Labels: 🐞 BugFix, 🎨 Html&css, 🚀 Performance, 🔨 Refactor, 🚸 Usability

#35 [KAN-98] 멍생네컷
  package.json
  src/assets/mungsengneacut/Frame1.svg
  src/assets/mungsengneacut/Frame2.svg
  src/assets/mungsengneacut/Frame3.svg
  src/assets/mungsengneacut/FrameDesign/Frame1-black.svg
  src/assets/mungsengneacut/FrameDesign/Frame1-christmas.svg
  src/assets/mungsengneacut/FrameDesign/Frame1-sky.svg
  src/assets/mungsengneacut/FrameDesign/Frame1-white.svg
  src/assets/mungsengneacut/FrameDesign/Frame2-black.svg
  src/assets/mungsengneacut/FrameDesign/Frame2-christmas.svg
  src/assets/mungsengneacut/FrameDesign/Frame2-sky.svg
  src/assets/mungsengneacut/FrameDesign/Frame2-white.svg
  src/assets/mungsengneacut/FrameDesign/Frame3-black.svg
  src/assets/mungsengneacut/FrameDesign/Frame3-christmas.svg
  src/assets/mungsengneacut/FrameDesign/Frame3-sky.svg
  src/assets/mungsengneacut/FrameDesign/Frame3-white.svg
  src/assets/mungsengneacut/HeaderImg.svg
  src/components/common/FooterNav.jsx
  src/components/common/SubHeader.jsx
  src/layout/DefaultLayout.jsx
  src/pages/Meongsengneacut.jsx
  src/pages/Mungsengneacut/ChooseFrame.jsx
  src/pages/Mungsengneacut/DownloadPhoto.jsx
  src/pages/Mungsengneacut/Mungsengneacut.jsx
  src/pages/Mungsengneacut/UploadPhotos.jsx
  src/router/router.jsx
  src/utils/RouterPath.js
  yarn.lock
Labels: ✨ Feature, 📬 API, 🚧 WIP

#43 [KAN-107] 최근본 목록 / 실시간 리뷰
  src/components/common/SubHeader.jsx
  src/components/review/ViewHistoryCard.jsx
  src/layout/DefaultLayout.jsx
  src/pages/DetailPage/PensionDetailPage.jsx
  src/pages/DetailPage/PlaceDetailPage.jsx
  src/pages/Review/LiveReviewList.jsx
  src/pages/Review/ViewHistory.jsx
  src/router/router.jsx
  src/utils/RouterPath.js
Labels: 📬 API, 🎨 Html&css, 🚧 WIP

#45 [KAN-98] 멍생네컷 수정
  .github/workflows/deploy.yml
  src/api/axios.js
  src/assets/mungsengneacut/downloadBG.svg
  src/components/mypage/UserData.jsx
  src/index.css
  src/pages/Login.jsx
  src/pages/Mungsengneacut/DownloadPhoto.jsx
  src/pages/Mungsengneacut/Mungsengneacut.jsx
  src/pages/Mungsengneacut/UploadPhotos.jsx
Labels: 🐞 BugFix, ✨ Feature, 🎨 Html&css, 🚸 Usability, 🚧 WIP

#34 [KAN-105] 사용자는 길찾기 페이지에서 목적지까지의 소요 시간과 가는 방법을 확인할 수 있다.
  src/api/map/map.js
  src/components/common/SubHeader.jsx
  src/components/map/MapContainer.jsx
  src/components/map/MapSearch.jsx
  src/components/map/PlaceCard.jsx
  src/components/map/PlaceList.jsx
  src/layout/DefaultLayout.jsx
  src/pages/Map/Directions.jsx
  src/pages/Map/MapSearch.jsx
  src/pages/Map/MapSearchResults.jsx
  src/router/router.jsx
  src/stores/map/usePlaceStore.js
  src/utils/RouterPath.js
  src/utils/SearchType.js
Labels: ✨ Feature, 📬 API, 🎨 Html&css, 🚧 WIP

#51 [KAN-98] 멍생네컷 수정
  src/api/axios.js
  src/api/mungsengneacut.js
  src/assets/mungsengneacut/downloadBgMobile.svg
  src/components/mypage/UserData.jsx
  src/pages/Mungsengneacut/ChooseFrame.jsx
  src/pages/Mungsengneacut/DownloadPhoto.jsx
  src/pages/Mungsengneacut/Mungsengneacut.jsx
  src/pages/Mungsengneacut/UploadPhotos.jsx
  src/pages/UserPage/UserEdit.jsx
  src/pages/UserPage/UserRegister.jsx
  src/stores/Auth/useLoginStore.js
Labels: 🐞 BugFix, 📬 API, 🎨 Html&css, 🚸 Usability

#58 [KAN-116] fix: map
  src/assets/common/heartBtn.png
  src/components/map/LikeListCategory.jsx
  src/components/map/MapContainer.jsx
  src/components/map/MapPanel.jsx
  src/components/map/MapSearch.jsx
  src/components/map/PlaceCard.jsx
  src/components/map/PlaceList.jsx
  src/pages/Map/Directions.jsx
  src/pages/Map/MapSearch.jsx
  src/stores/common/useLoadingStore.js
  src/stores/map/usePolylineStore.js
Labels: 🐞 BugFix, ✨ Feature, 🎨 Html&css, 🥰 Accessibility, 🚧 WIP
